<div class="max-w-lg mx-auto mt-16 text-center max-w-sm rounded overflow-hidden shadow-lg p-10">
  <h1 class="mb-4 text-3xl font-black"><%= @about_app %></h1>
  <p class="text-lg leading-snug mb-2">I am a self taught web developer and I created this Friends List Application as a simple database for your friend list informations</p>
  <div>
    <h1 class="font-bold text-2xl text-blue-500">Public#index</h1>
      <p>Find me in app/views/public/index.html.erb</p>
      <p data-controller="hello" data-action="click->hello#handleClick"></p>
    </div>
</div>


    
