<div class="bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 hover:from-pink-500 hover:to-yellow-500">
  <div class="max-w-screen-xl mx-auto py-16 px-4 sm:py-24 sm:px-6 lg:px-8">
    <div class="text-center">
      <h1 class="mt-1 text-4xl leading-10 font-extrabold text-gray-900 sm:text-5xl sm:leading-none sm:tracking-tight lg:text-6xl"> FriendsApp</h1>
        <p class="max-w-xl mt-5 mx-auto text-xl leading-7 text-bold-500"> This demo is build with
        <%= link_to "Hotwire", 'https://hotwire.dev/', class: 'underline decoration-pink-500/30' %> and
        <%= link_to  "Rails", 'https://rubyonrails.org/', class: 'underline decoration-indigo-500/30' %> </p>
    </div>
 </div>
</div>

